<div class="comentarios animated fadeIn fadeIn">


    <div>
        <table class="table">
            <thead class="thead-dark ">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Comentario</th>
                    <th class="text-center" colspan="2">Aciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><button class="btn btn-success"><i class="fa fa-ban"></i></button></td>
                    <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>