<div class="principal animated fadeIn fadeIn">
    <h2>Pagina Principal</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-success">Subir FavIcon</button>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-success">Subir Logotipo</button>
            </div>
            <div class="form-group col-md-6">
                <label for="inputTitle">Titulo de la pagina</label>
                <input type="text" class="form-control" id="inputTitle" placeholder="Ingrese el titulo">
            </div>
            <div class="form-group col-md-6">
                <label for="inputDescription">Descripcion</label>
                <input type="password" class="form-control" id="inputDescription" placeholder="Ingrese la descripcion">
            </div>
            <div class="form-group col-md-6">
                <label for="inputDescripcion">Descripcion</label>
                <textarea class="form-control" cols="30" rows="5" placeholder="Ingrese la descripcion"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="inputClaves">Palabras Claves</label>
                <textarea class="form-control" cols="30" rows="5" placeholder="Ingrese palabras claves"></textarea>
            </div>
        </div>

        <button type="button" class="btn btn-success">Agregar</button>
        <button type="button" class="ml-5 btn btn-info">Visiualizar</button>
    </form>


</div>