<div class="imagenes animated fadeIn fadeIn">
    <div>
        <form runat="server">
            <input type='file' id="imgInp" />
        </form>
        <img id="blah" src="#" alt="Imagen" />

    </div>
    <button class="btn btn-success" type="button">Subir</button>
    <div>
        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w-70">

                        <td></td>
                        <td>


                        </td>
                        <td>

                        </td>
                        <td><button class="btn btn-success">
                                <i class="fa fa-save    "></i>
                            </button>
                            <button class="btn btn-danger ml-5">
                                    <i class="fa fa-trash    "></i>
                                </button>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>