<div class="entradas animated fadeIn fadeIn">


    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="card">
                <div class="card">
                    <div class="card-boy">
                        <input #input (keyup)="buscarPost(input.value)" type="text" class="form-control" placeholder="Buscar post...">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="text-right">
                        <button [routerLink]="['/post','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"></i>Crear Post</button>
                    </div>

                    <h3 class="card-tittle">Posts creados ( <small>{{postService.totalPosts}}</small> ) </h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Titulo</th>
                                <th>Autor</th>
                                <th>Tipo</th>
                                <th>Comentar</th>
                                <th>Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of posts">
                                <td class="w-70">
                                    <img [src]="post.img | imagen:'post'" class="img-50 img-fluid pointer">

                                    <td>
                                        {{post.titulo}}
                                    </td>
                                    <td>
                                        {{post.autor}}
                                    </td>

                                    <td>
                                        {{post.tipo}}

                                    </td>
                                    <td>
                                        {{post.comentar}}
                                    </td>

                                    <td>
                                        {{post.categoria['nombreCategoria']}}
                                    </td>
                                    <td>
                                        <button [routerLink]="['/post',post._id]" class="btn btn-success">
                                                    <i class="fa fa-save    "></i>
                                                </button>
                                        <button (click)="eliminarPost(post)" class="btn btn-danger ml-5">
                                                        <i class="fa fa-trash    "></i>
                                                    </button>
                                    </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>